body
{
	background-color: #151424;
	background-image: url('../images/bg000000.jpg');
	background-repeat: no-repeat;
	color: #646464;
	font-family: Tahoma;
	font-size: 15px;



}

.maindiv
{
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	height:1200px;
}
#hat
{
    width:100%;
    height:130px;
     background:#f1f1f1;
}
.left
{
    float:left;
}

#clock
{
    margin-left:10px;
    margin-right:10px;
    margin-top:45px;
    font-size: 25px;
    text-align:center;
}