<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="css/mystyle.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function startTime()
        {
        var tm=new Date();
        var h=tm.getHours();
        var m=tm.getMinutes();
        var s=tm.getSeconds();
        m=checkTime(m);
        s=checkTime(s);
        document.getElementById('clock').innerHTML=h+":"+m+":"+s;
        t=setTimeout('startTime()',500);
        }
        function checkTime(i)
        {
        if (i<10)
        {
        i="0" + i;
        }
        return i;
        }

    </script>
</head>
<body onload="startTime()">
<div class="maindiv" id="main_div">
    <div th:insert="hat :: hat"></div>


    <div class="container">

        <div>

            <div class="left">
                <img th:src="${product.imgUrl}" th:alt="${product.name}" width="250" height="250">
            </div>
            <div th:text="${product.name}"></div>
            <div th:text="${product.price} + '$'"></div>
            <div th:text="${product.characteristic}"></div>


        </div>


    </div>

    <div th:insert="footer :: footer"></div>


</div>
</body>
</html>