<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="css/mystyle.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function startTime()
        {
        var tm=new Date();
        var h=tm.getHours();
        var m=tm.getMinutes();
        var s=tm.getSeconds();
        m=checkTime(m);
        s=checkTime(s);
        document.getElementById('clock').innerHTML=h+":"+m+":"+s;
        t=setTimeout('startTime()',500);
        }
        function checkTime(i)
        {
        if (i<10)
        {
        i="0" + i;
        }
        return i;
        }

    </script>
</head>
<body onload="startTime()">
<div class="maindiv" id="main_div">

    <div th:insert="hat :: hat"></div>


    <div class="container">

        <div>
            Список продуктов
            <table id="product_listing_table">
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Детали</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="'/details?id=' + ${product.id}"> Детали</a></td>

                </tr>
            </table>


        </div>


    </div>

    <div th:insert="footer :: footer"></div>


</div>


</body>
</html>